<!DOCTYPE html>
<html>
<head>
  <title> Resume </title>
<body>
    <div >
        <h3> Name: {{ resume.name }} Surname: {{ resume.surname }}</h3>
        <h2> Birth date: {{ resume.birth_date }} Birth place: {{ resume.birth_place }}</h2>
        <h2> Adress: {{ resume.residance_address }}</h2>
        <h2> Number: {{ resume.tel_num }}</h2>
        <h1> Email: {{ resume.email }}</h1>
        <p> Image: {{ resume.image }}</p>
        <p> Studying: {{ resume.studying }}</p>
        <p> work_exp: {{ resume.work_exp }}</p>
        <p> Knowladge: {{ resume.knowladge }}</p>
    </div>
</body>
</html>
